<nav class="app-navbar">
  <a md-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="angular-logo"
      src="../../../assets/img/angular-logo.svg"
      alt="Angular">
    Angular Starter
  </a>

  <div class="flex-spacer"></div>

  <a md-button class="docs-button" href="https://github.com/chyzwar/angular-starter" aria-label="GitHub Repository">
    <img
      class="github-logo"
      src="../../../assets/img/github-logo.svg"
      alt="GitHub">
    GitHub
  </a>
</nav>
