.user-avatar {
  display: flex;
  flex-direction: column;

  .user-avatar-img{
    height: 100px;
    width: 100px;
    border-radius: 99%;
    padding: 5px;
  }
  .user-avatar-title {
    font-size: 16px;
  }
  .user-avatar-subtitle{
    font-size: 14px;
  }
}
