<div class="flexbox-parent">
  <div class="login-wrapper" layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="login-box md-whiteframe-z1">
      <md-toolbar>
        <h2 class="md-toolbar-tools"><span>Reset Password</span></h2>
      </md-toolbar>
      <md-content layout="column" class="md-padding">
        <form name="userForm">
          <md-input-container class="md-block">
            <label>User name</label>
            <input
              ng-model="rc.user"
              type="text"
              required="true">
          </md-input-container>
        </form>

        <div layout="row" layout-align="center center">
          <md-button href="" md-no-ink="md-no-ink" ng-click="rc.sendResetLink()">
            Reset Password
          </md-button>
        </div>
      </md-content>
    </div>
  </div>
</div>
